.footer {
    padding: 25px 0 50px;
    background-color: #eeedee;
}

.footer button {
    border: none;
    background: transparent;
    margin-bottom: 50px;
}

.footer button i {
    margin-left: 5px;
}

.decor_line {
    padding-top: 10px;
    border-top: 1px solid #c1c1c1;
}

/*-----Motto-----*/

.motto {
    max-width: 650px;
    margin: 0 auto 40px;
    text-align: center;
}

.motto p {
    font-size: 20px;
    text-transform: uppercase;
}

.motto p:last-child {
    font-size: 16px;
    opacity: 0.5;
}

/*-----Social-----*/
.social {
    max-width: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.social i {
    font-size: 20px;
}

/*-----Map-----*/
.map {

}

.map img {
    max-width: 100%;
    max-height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex-wrap: wrap;
    max-height: 120px;
    margin-bottom: 80px;
}

.wrap a {
    color: inherit;
    margin-bottom: 15px;
    transition: 0.5s;
}

.wrap a:hover {
    color: #658538;
}

/*-----Copyright-----*/

.copyright a {
    padding-bottom: 2px;
    color: inherit;
    transition: 0.5s;
    border-bottom: 1px solid #666666;
}

.copyright a:hover {
    border-bottom: 1px solid transparent;
    color: #658538;
}


/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .wrap {
        margin-bottom: 50px;
    }
}
