.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.card img {
    margin-bottom: 30px;
    max-width: 100%;
}

.card h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.ss {

}

.card button {
    max-width: 150px;
    padding: 10px 20px;
    color: #fff;
    background-color: #658538;
    border: none;
    transition: 0.5s;
    text-transform: uppercase;
    margin-top: auto;
}

.card button:hover {
    opacity: 0.7;
}



