.shipping_bt {
    background-color: #658538;
    text-transform: uppercase;
    border: 1px transparent solid;
    border-radius: 5px;
    color: #fff;
    padding: 18px 38px;
    margin-right: 22px;
    transition: 0.5s;
}

.shipping_bt:hover {
    color: #658538;
    border: 1px solid #658538;
    background-color: transparent;
}

.return {
    display: inline-block;
}

.return a {
    color: #658538;
}